.home-banner {
    width: 100%;
    height: auto;
    max-height: 1000vh; /* Assurez-vous que la hauteur ne dépasse pas la hauteur de la fenêtre */
    object-fit: cover; /* Ajuste la taille de l'image pour couvrir complètement le conteneur */
}

.sale_banner img {
    width: 100%;
    height: auto;
    max-height: 100vh; /* Assurez-vous que la hauteur ne dépasse pas la hauteur de la fenêtre */
    object-fit: cover;
}

.categorytile {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px; /* Ajustez la hauteur selon vos préférences */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Ajoutez d'autres styles pour le reste de votre page si nécessaire */
